body{
	background: gray;
}

#tittle, .subttitle, .post_tittle, .post {
	color: blue;
}

#tittle{
	color: white;
	font-size: 50px;
	font-style: verdana ;
}
.post_tittle {
	font-size: 20px;
	font-style: italic;	
	color: black;
}
.post {
	background: white;
	padding: 10px 5px 15px 0;
	border: 3px solid #000;
	margin: 10px;
}
.post_content {
	margin: 0;
	margin-bottom: 15px;
}