@charset "utf=8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012E40;
    width: 600px;
    padding: 10px;
    margin: auto;
}

body{
    background-image: linear-gradient(to right, #012E40,#024959);
}
h1{
    color: #026773;
    text-align: center;
    box-shadow: 1px 1px 3px #026873ad;
}
h2{
    color: #3CA6A6;
}

p{
    text-align: justify;

}

